<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<form action="{{ url_for("analyze") }}" method="post">
    <div class="wrapper">
        <!-- PRICING-TABLE CONTAINER -->
        <div class="pricing-table group">
            <h1 class="heading">
                Oferte de credit
            </h1>
            <!-- PERSONAL -->
            <div class="block personal fl">
                <h2 class="title">Crab</h2>
                <!-- CONTENT -->
                <div class="content">
                    <p class="price">
                        <sup>lei</sup>
                        <span>1500</span>
                        <sub>1 luna</sub>
                    </p>
                    <p class="hint">Pana la</p>
                </div>
                <!-- /CONTENT -->
                <!-- FEATURES -->
                <ul class="features">
                    <li><span class="fontawesome-cloud"></span>Credit de nevoi personale</li>
                    <li><span class="fontawesome-cog"></span>Rata fixa</li>
                    <li><span class="fontawesome-star"></span>dobanda 15%</li>
                    <li><span class="fontawesome-dashboard"></span>1 luna</li>

                </ul>
                <!-- /FEATURES -->
                <!-- PT-FOOTER -->
                <div class="pt-footer">
                     <button type="submit" class="buttonc" name="button" value="crab">Aplica Acum</button>
                </div>
                <!-- /PT-FOOTER -->
            </div>
            <!-- /PERSONAL -->
            <!-- PROFESSIONAL -->
            <div class="block professional fl">
                <h2 class="title">Delfin</h2>
                <!-- CONTENT -->
                <div class="content">
                    <p class="price">
                        <sup>lei</sup>
                        <span>9000</span>
                        <sub>5l/zi.</sub>
                    </p>
                    <p class="hint">pana la</p>
                </div>
                <!-- /CONTENT -->
                <!-- FEATURES -->
                <ul class="features">
                    <li><span class="fontawesome-cog"></span>Linie de Credit</li>
                    <li><span class="fontawesome-star"></span>de la 5 lei/zi</li>
                    <li><span class="fontawesome-dashboard"></span>20.2% anual</li>
                    <li><span class="fontawesome-cloud"></span>12 luni</li>
                </ul>
                <!-- /FEATURES -->
                <!-- PT-FOOTER -->
                <div class="pt-footer">
                     <button type="submit" class="buttond" name="button" value="delfin">Aplica Acum</button>
                </div>
                <!-- /PT-FOOTER -->
            </div>
            <!-- /PROFESSIONAL -->
            <!-- BUSINESS -->
            <div class="block business fl">
                <h2 class="title">Pinguin</h2>
                <!-- CONTENT -->
                <div class="content">
                    <p class="price">
                        <sup>lei</sup>
                        <span>4500</span>
                        <sub>3 mo.</sub>
                    </p>
                    <p class="hint">Pana la</p>
                </div>
                <!-- /CONTENT -->

                <!-- FEATURES -->
                <ul class="features">
                    <li><span class="fontawesome-cog"></span>Credit de nevoi personale</li>
                    <li><span class="fontawesome-cog"></span>De la 11.94%</li>
                    <li><span class="fontawesome-star"></span>3 rate fixe</li>
                    <li><span class="fontawesome-star"></span>3 luni</li>

                </ul>
                <!-- /FEATURES -->

                <!-- PT-FOOTER -->
                <div class="pt-footer">
                     <button type="submit" class="buttonp" name="button" value="pinguin">Aplica Acum</button>
                </div>
                <!-- /PT-FOOTER -->
            </div>
            <!-- /BUSINESS -->
        </div>
        <!-- /PRICING-TABLE -->
    </div>
</form>
</body>
</html>

